body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    display: flex;
}

#game-area {
    flex-grow: 1; /* Le jeu occupe autant d'espace disponible que possible */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px; /* Ajoute un peu d'espace autour du jeu */
}

#board {
    background-color: black;
    border: 2px solid white;
    min-width: 400px; /* Taille minimale du plateau de jeu en largeur */
    min-height: 400px; /* Taille minimale du plateau de jeu en hauteur */
}

canvas {
    width: 100%;
    height: 100%;
}

#game-info {
    flex-shrink: 0; /* Le menu d'informations conserve sa taille fixe */
    width: 200px; /* Largeur fixe pour le menu d'informations */
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    color: white;
}


#round-info, #victory-info {
    margin-bottom: 20px;
}

#round-info h2, #victory-info h2 {
    margin-top: 0;
}

#victory-list {
    list-style-type: none;
    padding: 0;
}

#victory-list li {
    margin-bottom: 5px;
}

canvas {
    margin: 20px;
}
