.container {

  }
  
  .left-panel {
    flex-grow: 1; /* Permet à .left-panel de prendre autant de place que possible */
    display: flex;
    justify-content: flex-end; /* Alignement de l'image à droite */
    align-items: center; /* Centre verticalement l'image */
  }
  
  .game-info {
    position: absolute;
    right: 0px;
    width: 300px;
    border: 3px solid #73AD21;
    padding: 10px;
}

  
  .image {
    max-height: 100%; /* La hauteur de l'image ne dépasse pas la hauteur de son conteneur */
    max-width: 100%; /* La largeur de l'image ne dépasse pas la largeur de son conteneur */
  }

  
canvas {
  width: 100%; /* Le canvas prendra la largeur maximale du panneau gauche */
  height: 100%; /* Le canvas prendra la hauteur maximale du panneau gauche */
}